* {
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 400;
}
.container {
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
}
.clearfix::after {
    clear: both;
}
.first-section {
    text-align: center;
    background-image: url(image/first-screen.jpg);
    background-size: 1440px 782px;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: auto;
    margin-left: auto;
    max-width: 1440px;
    padding-top: 33px;
}
.logo-link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    float: left;
    background-image: url(image/cloud.png);
    background-size: 25px 18px;
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 35px;
    margin-top: 12px;
}
.logo-link:hover {
    color: royalblue;
}
.navigation-link {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}
.navigation-link:hover {
    color: royalblue;
}
.navigation-item {
    display: inline-block;
    margin-right: 22px;
}
.navigation {
    text-align: center;
    display: inline-block;
    max-width: 800px;
    padding-top: 12px;
}

.button-login {
    float: right;
    display: inline-block;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding: 10.5px 27.5px;
    background-color: transparent;
}
.button-login:hover {
    background-color: royalblue;
}
.budget-title {
    font-weight: 700;
    font-size: 72px;
    line-height: 86px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 39px;
}
.budget-article {
    padding: 195px 0 187px 0;
    text-align: center;
}
.budget-text {
    width: 540px;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    display: inline-block;
}
.text-body {
    margin-bottom: 55px;
}
.button-singup {
    padding: 17px 52.5px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #ED4C5C;
    background: #FFFFFF;
    border-radius: 6px;
    border: none;
}
.button-singup:hover {
    background-color: royalblue;
    color: #FFFFFF;
}
.card-box {
    background-image: url(image/first-card.png);
    background-size: 350px 250px;
    background-position: center;
    background-repeat: no-repeat;
    width: 350px;
    height: 250px;
}
.second-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #000000;
    margin-bottom: 64px;
}
.features {
    padding: 63px 0 229px 0;
    background-color: #FAFAFA;
}
.features-link {
    font-weight: 700;
    line-height: 18px;
    color: #ED4C5C;
    text-decoration: none;
}
.features-link:hover {
    color: royalblue;
}
.feature-card {
    max-width: 293px;
    padding: 33px 32px 25px 32px;
    background: #FFFFFF;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}
.features-sub-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #101010;
    margin-bottom: 16px;
}
.features-text-body {
    margin-bottom: 26px;
}
.features-text {
    line-height: 18px;
    color: #101010;
}
.card-box {
    position: relative;
    display: inline-block;
    margin-right: 30px;
}
.card-box:nth-last-of-type(1) {
    margin-right: 0;
}
.feature-card {
    position: absolute;
    left: 29px;
    top: 157px;
}
.second {
    background-image: url(image/second-card.png);
}
.third {
    background-image: url(image/third-card.png);
}
.technology-text {
    line-height: 18px;
    color: #000000;
}
.technology-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #101010;
}
.technology-sub-title {
    font-weight: 700;
    font-size: 100px;
    line-height: 120px;
    color: rgba(16, 16, 16, 0.08);
    margin-bottom: 19px;
}
.technology-article {
    display: inline-block;
    margin-right: 30px;
    max-width: 255px;
    text-align: center;
    position: relative;
    padding: 0 30px 19px 34px;
}
.technology-article:nth-last-of-type(1) {
    margin-right: 0;
}
.technology {
    padding: 64px 0 104px 0;
}
.technology-main-title {
    margin-bottom: 53px;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #000000;
}
.storage {
    background-image: url(image/storage.png);
    background-size: 80px 80px;
    background-position: center top;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    position: absolute;
    left: 87px;
    top: 59px;
}
.secure {
    background-image: url(image/secure.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 48px;
    height: 60px;
    position: absolute;
    left: 103px;
    top: 68px;
}
.pdf {
    background-image: url(image/pdf.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 48px;
    height: 54px;
    position: absolute;
    left: 104px;
    top: 69px;
}
.csv {
    background-image: url(image/csv.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 47px;
    height: 53px;
    position: absolute;
    left: 104px;
    top: 71px;
}